<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:CareHome' | abpLocalization }}
          </h5>
        </div>
        <div class="text-end col col-md-6"></div>
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="careHome.items" [count]="careHome.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
        
      </ngx-datatable>
    </div>
  </div>
  