<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:CareHome' | abpLocalization }}
          </h5>
        </div>
        <div class="text-end col col-md-6">
                  <!-- Add the "new book" button here -->
        <div class="text-lg-end pt-2">
          <button id="create" class="btn btn-primary" type="button" (click)="createCareHome()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ "::NewCareHome" | abpLocalization }}</span>
          </button>
        </div>
          

        </div>
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="careHome.items" [count]="careHome.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
        
      </ngx-datatable>
    </div>
  </div>
  